body, html {
	padding: 0px;
	margin: 0px;
	background: url(img/backrep.jpg);
	background-repeat: repeat;
}
#site-nav {
	background: #333;
	height: 32px;
}

nav ul {
	margin: 0px;
	text-align: left;
}

.feat li {
	padding: 0px 16px;
}

li {
	text-align: left;
}

nav ul li {
	display: inline;
	margin-left: 16px;
	list-style: none;
	font-family: sans-serif;
	line-height: 32px;
	color: white;
}

header a {
	text-decoration: none;
	color: white;
}

a {
	text-decoration: none;
	color: inherit;
}


#products section {
	float: left;
	text-align: center;
	color: white;
	margin: 32px;
	background: #333;
	max-width: 320px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.mail-ico {
	max-height: 32px;
}
section img {
	max-width: 320px;
}

.save {
	vertical-align:baseline;
}

#save > img {
	width: 1px!important;
}

span {
	line-height:16px;
	vertical-align:middle;
}

.favoriteItem {
	margin: 16px;
}
